@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<h1>@ViewBag.SelectedTeamName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
            <th>
                Phone Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Bowlers)
        {
            <tr>
                <th>
                    @x.BowlerFirstName
                    @x.BowlerMiddleInit
                    @x.BowlerLastName
                </th>
                <th>
                    @x.BowlerAddress
                </th>
                <th>
                    @x.BowlerCity
                </th>
                <th>
                    @x.BowlerState
                </th>
                <th>
                    @x.BowlerZip
                </th>
                <th>
                    @x.BowlerPhoneNumber
                </th>
            </tr>
        }

    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo" team-name="@Model.TeamName" page-url-teamname="@Model.TeamName"
    page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1">

</div>





